/.env
/*.code-workspace
/tmp
views/public/examples
views/public/vendor
views/public/css/bootstrap-icons.css
views/public/css/sb-admin-2.css
views/public/css/sb-admin-2.min.css
views/public/fonts/bootstrap-icons.woff 
views/public/fonts/bootstrap-icons.woff2
views/public/img/undraw_posting_photo.svg
views/public/img/undraw_profile_1.svg
views/public/img/undraw_profile_2.svg
views/public/img/undraw_profile_3.svg
views/public/img/undraw_profile.svg
views/public/img/undraw_rocket.svg
views/public/js/demo
views/public/js/jsQR.js
views/public/js/moment.js
views/public/js/nipplejs.js
views/public/js/qrcode.min.js
views/public/js/reconnecting-websocket.min.js
views/public/js/sb-admin-2.js
views/public/js/sb-admin-2.min.js
node_modules/